.curgraph_table{
    border: none;
    color: white;
    background-color: black;/*rgb(9, 8, 33);*/
}
.jqx-grid-content{
    background-color: black;/*rgb(9, 8, 33);*/
    margin: 0px;
}
.jqx-grid-cell{
    border: none;
    font-size: 12pt;
    font-weight: bold;
    background-color: black;/*rgb(9, 8, 33);*/
    margin: 0px;
}
.jqx-chart-axis-text,
.jqx-chart-label-text,
.jqx-chart-legend-text,
.jqx-chart-axis-description
{
    font-size: 11px;
    font-family: Helvetica;
    margin: 0px;
}
.jqx-chart-title-text,
.jqx-chart-title-description,
.jqx-chart-tooltip-text
{
    font-size: 14px;
    font-family: Helvetica;
    margin: 0px;
}
.jqx-checkbox div{
    background-color: rgb(183, 178, 178);
    border: lightgray;
    margin: 0px;
}


.color1
{
    color: #1cffec;
}
.color2
{
    color: #42f4a7;
}
.color3
{
    color: #47f753;
}
.color4
{
    color: #9df441;
}
.color5
{
    color: #f4f441;
}
.color6
{
    color: #f441cd;
}
.color7
{
    color: #47f78a;
}
.color8
{
    color: #fc3a8b;
}
.color9
{
    color: #6fb7f7;
}
.color10
{
    color: #41f4e2;
}
.color11
{
    color: #df41f4;
}
.color12
{
    color: #41c7f4;
}
.color13
{
    color: #f989b8;
}

.collapseTrigger{
    cursor: pointer;
}

.hidden{
    display: none;
    background-color: black;
}
.resizable{
    height: 290px;
    width: 100%;
}
#v3chart {
    width: 100%;
    height: 100%;
}
#v4chart {
    width: 100%;
    height: 100%;
}
#programPanel h3{
    white-space: pre;
}
#statusPanel .jqx-grid-cell{
    font-size: 16pt;
    height: 40px;
    margin: 0px;
} 
#statusPanel{
    /*border: 1px solid white;*/
}
#main_table{
    width: 100%;
    height: 100%;
}

body{
    background-color: black;/*rgb(9, 8, 33);*/
    color: white;
    font-family: Helvetica;
    font-size: 12pt;
    font-weight: bold;
}

h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 38px;
    margin: 0px;
    letter-spacing: -3px;
}
h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0px;
    letter-spacing: -1px;
}

#graph_frequency {
    width: 40px;
}
