<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="/static/jqwidgets/styles/jqx.darkblue.css" type="text/css" />
    <link rel="stylesheet" href="/static/interface/css/curgraph.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <script type="text/javascript" src="/static/interface/js/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxgrid.edit.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxchart.core.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxwindow.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/globalization/globalize.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/globalization/globalize.culture.ru-RU.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="/static/interface/js/Main.js"></script>
    <script type="text/javascript" src="/static/interface/js/CurrentModel.js"></script>
    <script type="text/javascript" src="/static/interface/js/CurrentController.js"></script>
    <script type="text/javascript" src="/static/interface/js/TickGrid.js"></script>
    <script type="text/javascript" src="/static/interface/js/TimePicker.js"></script>
    <script type="text/javascript" src="/static/interface/js/CurrentChart.js"></script>
    <script type="text/javascript" src="/static/interface/js/WeekChart.js"></script>
    <script type="text/javascript" src="/static/interface/js/StatusPanel.js"></script>
    <script type="text/javascript" src="/static/interface/js/ProgramPanel.js"></script>
</head>
<body>
    <table id="main_table">
        <tr>
            <td width="295"> <h1>Комплекс ВЭПП-4</h1>
            </td>
	    <td id="programPanel">
            </td>
	    <td>
	    </td>
	    <td align="right">
		 <iframe src="http://free.timeanddate.com/clock/i6o3o7ac/n375/tlru33/fs48/fcfff/tct/pct/ahr/ftb/tt0/tw0/tm3/th1/tb2" frameborder="0" width="460" height="57" allowTransparency="true"></iframe>
            </td>
        </tr>
        <tr>
            <td colspan="4"> 
                <div id="statusPanel" class="curgraph_table">
            </td>
        </tr>
        <tr>
            <td width="292" rowspan="2">
                <h3 class='collapseTrigger'>ВЭПП-4</h3>
                <div id="v4tickData" class="curgraph_table">
                </div>
            </td>
            <td colspan="3">
                <table>
                    <tr>
                        <td>
                        </td>
                    </tr>
                </table>
                <div class="resizable fullscreen">
		    <div id="v4chart"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="left">
		<input id="datetimerange" type="text" name="datetimes" />
                <br/>
		<button id="1h" onclick=changeDateRange("1h")>1 час</button>
                <button id="3h" onclick=changeDateRange("3h")>3 часа</button>
                <button id="9h" onclick=changeDateRange("9h")>Смена</button>
                <button id="24h" onclick=changeDateRange("24h")>Сутки</button>
                <button id="week" onclick=changeDateRange("week")>Неделя</button>
	    </td>
	    <td align="right">
                <table>
                    <tr>
                        <td>
                            <input id="graph_frequency" type="number" value="30"/>
                        </td>
                        <td>
                            <button id="reload_graph">Проредить</button>
                        </td>
                        <td>
                            <button id="refresh_graph">Обновить</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
